.App {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #EAEDED;
}

.cards_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}